.sqrMainPage{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.student_list_unity{
    border: 0.5px solid rgb(73, 73, 73);
    display:flex;
    flex-direction: column;
}

li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    
}

.student_photo{
    width: 120px;
    height: 120px;
    margin: 0 20px;
}

#addBtn{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Ubuntu", sans-serif;
}

body{
    background-image: url("../static/uploads/bandejao.jpeg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Ubuntu", sans-serif;
}