
#btnVoltar{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.student_list_unity{
    border: 0.5px solid rgb(73, 73, 73);
    display:flex;
    flex-direction: column;
}

li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    
}

.s1{
    margin-right: 40px;
}

.s2{
    margin-right: 5px;
    margin-left: 5px;
}

.s3{
    margin-right: 5px;
    margin-left: 5px;
}

.s4{
    margin-left: 5px;
}


body{
    background-image: url("../static/uploads/bandejao.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

 #body{
    background-color: rgba(135, 206, 250, 0.5);
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Ubuntu", sans-serif; 
} 

th, td {
    border: 1px solid black; /* Adiciona bordas às células */
    padding: 15px; /* Adiciona espaço interno às células */
    text-align: left; /* Alinha o texto à esquerda */
} 
