
.student_list_unity{
    border: 0.5px solid rgb(73, 73, 73);
    display:flex;
    flex-direction: column;
    background-color: rgba(135, 206, 250, 0.5);
}

li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    
}

.student_photo{
    width: 150px;
    height: 150px;
    margin: 0 20px;
}

#btnEdita{
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Ubuntu", sans-serif;
}

#btnExclui{
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Ubuntu", sans-serif;
}

#btnPresenca{
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Ubuntu", sans-serif;
}

.d_infos{
    margin: 5px 10px;
    padding: 5px;
    font-weight: 700;
}

body{
    background-image: url("../static/uploads/bandejao.jpeg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Ubuntu", sans-serif;
}