<!DOCTYPE html>  
<html>
    <head>
        <meta charset="utf-8"/> 
        <title>Menu</title> 

        <link rel="stylesheet" type="text/css" href="static/cadastramento.css">
        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>

    <body>
        <div id = "body">
            <h1>CADASTRAMENTO <span id = "s1"></span></h1>

            {% if (error) %}
                Erro! Já existe outra pessoa cadastrada com o cpf dado!
            {% endif %}

            <form action = "{{ url_for('cadastra')}}" method="post" enctype="multipart/form-data">
                <div id = "d_geral_forms" class = "jumbotron text-center">                
                    <fieldset>
                        <div >                        
                            <div id = "d_name">
                                <label for= "nome">Nome: </label>
                                <input id = "nome" type = "text" name = "fNome"  value = "{{lCadastro[0]}}" placeholder="Nome do aluno">
                            </div>
                            
                            <div id = "d_cpf">
                                <label for= "cpf">cpf: </label>
                                <input id = "cpf" type = "text" name = "fcpf" value = "{{lCadastro[1]}}" placeholder="cpf do aluno">
                            </div>  

                            <div id = "d_saldo">
                                <label for= "saldo">saldo: </label>
                                <input id = "saldo" type = "text" name = "fsaldo" value = "{{lCadastro[2]}}" placeholder="saldo da pessoa">
                            </div>  

                            <div id = "d_chatId">
                                <label for= "chatID">chatID: </label>
                                <input id = "chatID" type = "text" name = "fchatId" value = "{{lCadastro[3]}}" placeholder="chatID da pessoa">
                            </div>

                            <div id="d_rfid">
                                <label for="rfid">rfid: </label>
                                <input id="rfid" type="text" name="frfid" value="{{ lCadastro[4] }}" placeholder="rfid da pessoa">
                                <button id="btnRfid" type="button" onclick = "lerRfid()">Pegar RFID</button>
                                <span id="statusRfid"></span>
                            </div>

                            <a href = "{{url_for('menu', turma = turma)}}">
                                <button id = "btnEnviar" type="submit">Cadastrar</button>
                            </a>

                        </div>
                    </fieldset>
                </div>
            </form>
            <a href = "/{{turma}}"><button id = "btnVoltar">Voltar</button></a>
        </div>           
        <script>
            async function lerRfid() {
            const btn = document.getElementById("btnRfid");
            const campo = document.getElementById("rfid");

            btn.disabled = true;
            const textoOriginal = btn.textContent;
            btn.textContent = "Lendo...";

            try {
                const resp = await fetch("/pedeRfid", {
                method: "POST",
                headers: {
                    "X-Requested-With": "XMLHttpRequest"
                }
                });
                console.log("Resposta recebida:");
                console.log(resp)
                const data = await resp.json();

                if (data.ok) 
                {
                    campo.value = data.rfid;  
                } 
                else {
                    alert("Erro ao ler RFID: " + (data.erro || "desconhecido"));
                }
            } catch (e) {
                console.error(e);
                alert("Falha ao falar com o servidor.");
            } finally {
                btn.disabled = false;
                btn.textContent = textoOriginal;
            }
            }
            </script>                
    </body>

</html>